body{
    background-color: rgba(69, 123, 157, 0.1) !important;
    background-image: url('assets/curve_gr.svg');
}

body {
    font-family: 'Titillium Web' !important;
    font-size: 22px;
}

a, a:hover, a:visited, a:link, a:active {   
    color: inherit !important;
    text-decoration: none;
}

p, h1, h2, h3, h4{
    color: white;
}