body{
    background-color: rgba(69, 123, 157, 0.1) !important;
}

body {
    font-family: 'Titillium Web' !important;
    font-size: 22px;
}

a, a:hover, a:visited, a:link, a:active {   
    color: inherit !important;
    text-decoration: none;
}